name: Xcode test

on: [push, pull_request]

jobs:
  test:
    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v2

    - name: Select Xcode
      run: sudo xcode-select -switch /Applications/Xcode_12.2.app

    - name: Xcode version
      run: /usr/bin/xcodebuild -version

    - name: Xcode unit tests
      run: |
        cd Xcode/
        xcodebuild clean test -scheme TheNews -destination 'platform=iOS Simulator,name=iPhone 12,OS=14.2'

    - uses: actions/upload-artifact@v2
      with:
        name: tests.xcresult
        path: /Users/runner/Library/Developer/Xcode/DerivedData/*/Logs/Test/*.xcresult
